html, body {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "Gagalin";
    src: url("fonts/Gagalin/Gagalin-Regular.otf");
    font-weight: normal;
}

@font-face{
    font-family: "Lifehack";
    src: url("fonts/Lifehack Medium.otf");
    font-weight: normal;
}

@font-face{
    font-family: "UbuntuB";
    src: url("fonts/Ubuntu/Ubuntu-B.ttf");
    font-weight: bold;
}

@font-face{
    font-family: "UbuntuL";
    src: url("fonts/Ubuntu/Ubuntu-Light.ttf");
    font-weight: normal;
}

@font-face{
    font-family: "UbuntuM";
    src: url("fonts/Ubuntu/Ubuntu-Medium.ttf");
    font-weight: normal;
}
@font-face{
    font-family: "UbuntuM";
    src: url("fonts/Ubuntu/Ubuntu-Regular.ttf");
    font-weight: normal;
}

.wrapper {
    overflow: hidden;
}

.container {
    max-width: 1100px;
    min-height: 650px;
    height: 100%;
    margin: 0 auto;
}

.section {
    height: 100vh;
}

/*Promo block*/

.section-promo {
    background-image: url(image/bg/bg-promo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.section-promo__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.nav__list {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav__item {
    margin-right: 60px;
}

.nav__item:hover {
    display: block;
    text-decoration: underline;
    color: white;
    font-weight: bold;
}

.nav__menu-burger {
    display: none;
}

.nav__link {
    display: block;
    text-decoration: none;
    font-family: UbuntuM, serif;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
}

.button {
    padding: 13px 16px;

    font-weight: bold;
    font-family: UbuntuM, serif;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;

    background: #e45028;
    border-radius: 5px;
    border: none;
}

.section-promo__content {
    display: flex;
    width: 100%;
}

.section-promo__content-img {
    flex-basis: 50%;
}

.promo__img-burger {
    width: 500px;
}

.section-promo__title {
    display: block;
    font-family: Gagalin, sans-serif;
    color: #f9b43b;
    font-size: 85px;
}

.section-promo__text {
    display: block;
    font-family: Lifehack, serif;
    color: white;
    font-size: 70px;
    line-height: 60px;
}

.section-promo__scroll {
    margin-bottom: 10%;
    width: 30px;
    height: 30px;
    background-image: url(image/icons/arrow-scroll.svg);
    background-repeat: no-repeat;
}

/*Best block*/

.section-best {
    background-image: url(image/bg/bg-best.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.section-best__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-best__title {
    display: flex;
    justify-content: center;
    margin-top: 10%;

    text-decoration: none;
    font-family: Gagalin, serif;
    font-size: 72px;
    color: #2f3234;
    text-transform: uppercase;
}

.section-best__wrapper {
    display: flex;
    margin-bottom: 10%;
}

.section-best__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-best__icon-meat {
     width: 100px;
     height: 150px;
    background: url(image/icons/meat.svg) no-repeat center;
}

.section-best__icon-hands {
    width: 80px;
    height: 150px;
    background: url(image/icons/hand.svg) no-repeat center;
}

.section-best__icon-natural {
    width: 80px;
    height: 150px;
    background: url(image/icons/natural.svg) no-repeat center;
}

.section-best__item-title {
    text-decoration: none;
    font-family: Lifehack, serif;
    font-size: 25px;
    color: #2f3234;
    text-align: center;
    line-height: 28px;
}

.section-best__item-text {
    text-decoration: none;
    font-family: UbuntuM, serif;
    font-size: 16px;
    color: #2f3234;
    text-align: center;
    line-height: 25px;
}

.section-best__item:not(odd) {
    margin-left: 25px;
    margin-right: 25px;
}

/*Reviews block*/

.section-reviews__container {
    display: flex;
    height: 100vh;
    justify-content: space-between;
}

.section-reviews__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section-reviews__content {
    position: relative;
    flex-basis: 25%;
    height: 50%;
}

.section-reviews__img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);

    object-fit: cover;
    object-position: 50% 50%;
}

.section-reviews__block {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 100px);
    width:calc(100% - 40px);
    padding: 50px 20px;

    color: white;
    transition-duration: 0.7s;
    background-color: rgba(20, 20, 20, 0.7);
}

.section-reviews__content:hover .section-reviews__block {
    display: block;
    opacity: 1;
}

.section-reviews__title {
    font-family: Gagalin, serif;
    font-size: 25px;
    text-transform: uppercase;
}

.section-reviews__text {
    margin-bottom: 30px;
    font-family: UbuntuM, serif;
    font-size: 16px;
    line-height: 20px;
}

.section-reviews__button {
    margin-top: 15px;
    padding: 15px;

    text-decoration: none;
    font-family: UbuntuM, serif;
    font-weight: bold;
    font-size: 14px;
    color: white;
    text-transform: uppercase;

    background: #2f3234;
    border-radius: 5px;
    border: none;
}

@media (max-width: 1060px) {

    .container {
        max-width: 1060px;
    }

    /*Promo block*/
    .section-promo__container {
        padding: 0 50px;
    }

    .header {
        width: 100%;
        justify-content: space-between;
    }

    .nav__item {
        display: none;
    }
    .nav__list {
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
    }

    .nav__button-order {
        display: block;
    }

    .nav__menu-burger {
        display: block;
        margin-right: 20px;
        width: 24px;
        height: 22px;
        background-image: url(image/icons/burger-menu.svg);
        background-color: transparent;
        background-repeat: no-repeat;
    }

    .section-promo__content {
        flex-direction: column;
        align-items: center;
    }

    .promo__img-burger {
        width: 400px;
    }

    .section-promo__content-text {
        flex-basis: inherit;
        margin-top: 0;
    }

    .section-promo__title {
        font-size: 75px;
        text-align: center;
    }

    .section-promo__text {
        text-align: center;
        font-size: 60px;
    }

    /*Best block*/

    .section-best__container {
        padding: 0 50px;
    }

    .section-best__title {
        margin-top: 10%;
    }

    .section-best__icon-meat {
        background-size: 60%;
    }

    .section-best__icon-hands {
        background-size: 60%;
    }

    .section-best__icon-natural {
        background-size: 60%;
    }

    .section-best__item-title {
        font-size: 20px;
        line-height: 25px;
    }

    .section-best__item-text {
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width: 768px) {

    .container {
        max-width: 768px;
    }

    /*Promo block*/
    .section-promo__container {
        padding: 0 50px;
    }

    .header {
        width: 100%;
        justify-content: space-between;
    }

    .nav__item {
        display: none;
    }
    .nav__list {
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
    }

    .nav__button-order {
        display: block;
    }

    .nav__menu-burger {
        display: block;
        margin-right: 20px;
        width: 24px;
        height: 22px;
        background-image: url(image/icons/burger-menu.svg);
        background-color: transparent;
        background-repeat: no-repeat;
    }

    .section-promo__content {
        flex-direction: column;
        align-items: center;
    }

    .promo__img-burger {
        width: 400px;
    }

    .section-promo__content-text {
        flex-basis: inherit;
        margin-top: 0;
    }

    .section-promo__title {
        font-size: 65px;
        text-align: center;
    }

    .section-promo__text {
        text-align: center;
        font-size: 50px;
    }

    /*Best block*/

    .section-best__container {
        padding: 0 50px;
    }

    .section-best__title {
        margin-top: 10%;
        font-size: 60px;
    }

    .section-best__wrapper {
        flex-wrap: wrap;
    }

    .section-best__item {
        display: flex;
    }

    .section-best__icon-meat {
        display: block;
        width: 80px;
        height: 80px;
        background-size: 60%;
    }

    .section-best__icon-hands {
        display: block;
        width: 80px;
        height: 80px;
        background-size: 60%;
    }

    .section-best__icon-natural {
        display: block;
        width: 80px;
        height: 80px;
        background-size: 60%;
    }

    .section-best__item-title {
        font-size: 18px;
        line-height: 20px;
        text-align: left;
    }

    .section-best__item-text {
        font-size: 14px;
        line-height: 18px;
        text-align: left;
    }

    /*Reviews block*/

    .section-reviews__content {
        flex-basis: 50%;
        justify-content: center;
        height: 25%;
    }

    .section-reviews__img {
        /*нужно здесь уменьшить изображение на 10 или 20% - пока не понимаю как это сделать*/
    }

    .section-reviews__block {
        height: calc(100% - 10px);
        width:calc(100% - 70px);
        padding: 5px 35px;
    }

    .section-reviews__title {
        font-size: 14px;
        text-align: center;
    }

    .section-reviews__text {
        margin-bottom: 0px;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
    }

    .section-reviews__button {
        margin-left: 40%;
        margin-top: 5%;
    }
}

@media (max-width: 550px) {

    .container {
        max-width: 550px;
    }

    /*Promo block*/
    .section-promo__container {
        padding: 0 30px;
    }

    .header {
        width: 100%;
        justify-content: space-between;
    }

    .nav__item {
        display: none;
    }
    .nav__list {
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
    }

    .nav__button-order {
        display: block;
    }

    .nav__menu-burger {
        display: block;
        margin-right: 20px;
        width: 24px;
        height: 22px;
        background-image: url(image/icons/burger-menu.svg);
        background-color: transparent;
        background-repeat: no-repeat;
    }

    .section-promo__content {
        flex-direction: column;
        align-items: center;
    }

    .promo__img-burger {
        width: 350px;
    }

    .section-promo__content-text {
        flex-basis: inherit;
        margin-top: 0;
    }

    .section-promo__title {
        font-size: 60px;
        text-align: center;
    }

    .section-promo__text {
        text-align: center;
        font-size: 45px;
    }

    /*Best block*/

    .section-best__container {
        padding: 0 50px;
    }

    .section-best__title {
        margin-top: 10%;
        font-size: 50px;
    }

    .section-best__wrapper {
        flex-wrap: wrap;
    }

    .section-best__icon-meat {
        display: block;
        width: 80px;
        height: 80px;
        background-size: 60%;
    }

    .section-best__icon-hands {
        display: block;
        width: 80px;
        height: 80px;
        background-size: 60%;
    }

    .section-best__icon-natural {
        display: block;
        width: 80px;
        height: 80px;
        background-size: 60%;
    }

    .section-best__item {
        display: flex;
    }

    .section-best__item-title {
        font-size: 18px;
        line-height: 20px;
        text-align: left;
    }

    .section-best__item-text {
        font-size: 14px;
        line-height: 18px;
        text-align: left;
    }

    /*Reviews block*/

    .section-reviews__content {
        flex-basis: 50%;
        justify-content: center;
        height: 25%;
    }

    .section-reviews__img {
        /*нужно здесь уменьшить изображение на 10 или 20% - пока не понимаю как это сделать*/
    }

    .section-reviews__block {
        height: calc(100% - 10px);
        width:calc(100% - 70px);
        padding: 5px 35px;
    }

    .section-reviews__title {
        font-size: 14px;
        text-align: center;
    }

    .section-reviews__text {
        margin-bottom: 0px;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
    }

    .section-reviews__button {
        margin-left: 40%;
        margin-top: 5%;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 480px;
    }

    /*Promo block*/
    .section-promo__container {
        padding: 0 10px;
    }

    .header {
        width: 100%;
        justify-content: space-between;
    }

    .nav__item {
        display: none;
    }

    .nav__list {
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
    }

    .nav__button-order {
        display: block;
    }

    .nav__menu-burger {
        display: block;
        margin-right: 20px;
        width: 24px;
        height: 22px;
        background-image: url(image/icons/burger-menu.svg);
        background-color: transparent;
        background-repeat: no-repeat;
    }

    .section-promo__content {
        flex-direction: column;
        align-items: center;
    }

    .promo__img-burger {
        width: 300px;
    }

    .section-promo__content-text {
        flex-basis: inherit;
        margin-top: 0;
    }

    .section-promo__title {
        font-size: 55px;
        text-align: center;
    }

    .section-promo__text {
        text-align: center;
        font-size: 40px;
    }

    /*Best block*/

    .section-best__container {
        padding: 0 50px;
    }

    .section-best__title {
        margin-top: 10%;
        font-size: 40px;
    }

    .section-best__wrapper {
        flex-wrap: wrap;
    }

    .section-best__icon-meat {
        display: block;
        width: 80px;
        height: 80px;
        background-size: 60%;
    }

    .section-best__icon-hands {
        display: block;
        width: 80px;
        height: 80px;
        background-size: 60%;
    }

    .section-best__icon-natural {
        display: block;
        width: 80px;
        height: 80px;
        background-size: 60%;
    }

    .section-best__item {
        display: flex;
    }

    .section-best__item-title {
        font-size: 20px;
        line-height: 18px;
        text-align: left;
    }

    .section-best__item-text {
        font-size: 13px;
        line-height: 16px;
        text-align: left;
    }

    /*Reviews block*/

    .section-reviews__content {
        flex-basis: 50%;
        justify-content: center;
        height: 25%;
    }

    .section-reviews__img {
        /*нужно здесь уменьшить изображение на 10 или 20% - пока не понимаю как это сделать*/
    }

    .section-reviews__block {
        height: calc(100% - 10px);
        width:calc(100% - 70px);
        padding: 5px 35px;
    }

    .section-reviews__title {
        margin-top: 30%;
        font-size: 20px;
        text-align: center;
    }

    .section-reviews__text {
        display: none;
    }

    .section-reviews__button {
        margin-left: 20%;
        margin-top: 5%;
    }
}