html, body {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "Gagalin";
    src: url("fonts/Gagalin/Gagalin-Regular.otf");
    font-weight: normal;
}

@font-face{
    font-family: "Lifehack";
    src: url("fonts/Lifehack Medium.otf");
    font-weight: normal;
}

@font-face{
    font-family: "UbuntuB";
    src: url("fonts/Ubuntu/Ubuntu-B.ttf");
    font-weight: bold;
}

@font-face{
    font-family: "UbuntuL";
    src: url("fonts/Ubuntu/Ubuntu-Light.ttf");
    font-weight: normal;
}

@font-face{
    font-family: "UbuntuM";
    src: url("fonts/Ubuntu/Ubuntu-Medium.ttf");
    font-weight: normal;
}
@font-face{
    font-family: "UbuntuM";
    src: url("fonts/Ubuntu/Ubuntu-Regular.ttf");
    font-weight: normal;
}

.wrapper {
    overflow: hidden;
}

.container {
    max-width: 1100px;
    height: 100vh;
    margin: 0 auto;
}

.section-promo {
    height: 100vh;
    width: 100vw;
    background-image: url(image/bg/bg-promo.png);
    background-size: cover;
}

.section-promo__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.nav__list {
    display: flex;
    padding-left: 0;
    list-style: none;
    align-items: center;
}

.nav__item {
    margin-right: 60px;
}

.logo {
    margin-left: 20px;
    margin-right: 60px;
}

.nav__item:hover {
    display: block;
    text-decoration: underline;
    color: white;
    font-weight: bold;
}

.button {
    padding: 13px 16px;

    font-weight: bold;
    font-size: 14px;
    color: white;
    text-transform: uppercase;

    background: #e45028;
    border-radius: 5px;
    border: none;
}

.nav__link {
    display: block;
    text-decoration: none;
    font-family: UbuntuM, serif;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
}

.section-promo__content {
    display: flex;
    width: 100%;
}

.section-promo__content-img {
    flex-basis: 50%;
}

.promo__img-burger {
    width: 500px;
}

.section-promo__text-list {
    flex-basis: 50%;
}

.section-promo__text-header {
    display: block;
    font-family: Gagalin, sans-serif;
    color: #f9b43b;
    font-size: 85px;
}

.section-promo__text-item {
    display: block;
    font-family: Lifehack, serif;
    color: white;
    font-size: 70px;
    line-height: 70px;
}

.section-promo__scroll {
    margin-bottom: 60px;
}

.section-best {
    background-image: url(image/bg/bg-best.png);
    background-size: cover;
}

.section-best__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.section-best__title {
    display: flex;
    justify-content: center;
    margin-top: 10%;

    text-decoration: none;
    font-family: Gagalin, serif;
    font-size: 72px;
    color: #2f3234;
    text-transform: uppercase;
}

.section-best__wrapper {
    display: flex;
}

.section-best__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20%;
}

.section-best__icon {
    width: 80px;
    height: 80px;
}

.section-best__item-title {
    text-decoration: none;
    font-family: Lifehack, serif;
    font-size: 24px;
    color: #2f3234;
    text-align: center;
    line-height: 28px;
}

.section-best__item-text {
    text-decoration: none;
    font-family: UbuntuM, serif;
    font-size: 14px;
    color: #2f3234;
    text-align: center;
    line-height: 20px;
}


.section-reviews__container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

.section-reviews__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section-reviews__content {
    position: relative;
    width: 25%;
    height: 50%;
}

.section-reviews__img {
    width: 100%;
    height: 100%;
}

.section-reviews__text {
    display: none;
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section-reviews__content:hover .section-reviews__text {
    display: block;
    height: calc(100% - 100px);
    width:calc(100% - 40px);
    padding: 50px 20px;

    color: white;
    background-color: rgba(20, 20, 20, 0.7);
}

.section-reviews__header {
    font-family: Gagalin, serif;
    font-size: 20px;
    text-transform: uppercase;
}

.section-reviews__item {
    font-family: UbuntuM, serif;
    font-size: 14px;
    line-height: 20px;
}

.section-reviews__button {
    padding: 15px;

    text-decoration: none;
    font-family: UbuntuM, serif;
    font-weight: bold;
    font-size: 14px;
    color: white;
    text-transform: uppercase;

    background: #2f3234;
    border-radius: 5px;
    border: none;
}







/*@media (max-width: 768px) {*/
    /*.content_promo {*/
        /*flex-direction: column;*/
    /*}*/
/*}*/

/*@media (max-width: 480px) {*/
    /*.content_promo {*/
        /*flex-direction: column;*/
    /*}*/
/*}*/